#random-movie {
	min-height: 80vh;
}

.truncate {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.shadow-sm {
	position: relative;
	overflow: hidden;
}

.card-body {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	max-height: 100%;
	transform: translateY(101%);
	transition: transform .3s ease-in;
}

.shadow-sm:hover .card-body {
	transform: translateY(0);
}

.movie-info {
	justify-content: space-between;
	font-size: 22px;
	font-weight: 700;
}
.movie-info span.green{
	color:lightgreen;
}

.movie-info span.orange{
	color:orange;
}

.movie-info span.red{
	color:red;
}